<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <!-- Some Values of the "pattern" Attribute -->
            <!-- ============================================================ -->
            <!-- Default -->
            <!-- %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n -->
            <!-- Option 1 -->
            <!-- %logger{1}.%message%n -->
            <!-- ============================================================ -->
            <PatternLayout pattern="%logger{1}.%message%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" />
        </Root>
    </Loggers>
</Configuration>
